.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .poster{
    background-image: url("../assets_10/Hero-bg.png");
    width: 100%;
    align-items: center;
  }

  .poster-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
  }

 
 .poster-title{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;

 }

 .poster-description{
    text-align: center;
    line-height: 26px;
 }

 .btn-primary{
    background-color:rgb(13, 19, 33) ;
    color: white;
    padding: 21px 24px 21px 24px;
    margin: 32px 0;
    border-radius: 8px;
 
 }