.azeret-mono-normal {
   font-family: "Azeret Mono", monospace;
   font-optical-sizing: auto;
   font-style: normal;
 }

  /* poster style */
  .poster{
    background-image: url("../assets_10/Hero-bg.png");
    width: 100%;
    align-items: center;

  }

  .poster-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
  }

 
 .poster-title{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;

 }

 .poster-description{
    text-align: center;
    line-height: 26px;
 }

 .btn-primary{
    background-color:rgb(13, 19, 33) ;
    color: white;
    padding: 21px 24px 21px 24px;
    margin: 32px 0;
    border-radius: 8px;
 
 }

 /* banner style */

 .banner{

   border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);;
   margin: 40px 97px;

 }

 .banner-title{
   font-size: 32px;
   font-weight: 800;
   line-height: 35px;
   text-align: center;
   margin-top: 154px;

 }

 .banner-sub-title{
   line-height: 26px;
   text-align: center;
   opacity: 0.7;
   margin-bottom: 48px;
 }

 /* banner-1 style */

 .banner1{
   display: flex;
   gap: 40px;
   justify-content: space-between;
   padding: 48px;
   margin-top: 0;
   padding-top: 0;

 }

 .banner2{
   align-items: flex-start;
   flex-direction: column;
   margin: 0px 10px;
 }


 .btn-benner{
      box-sizing: border-box;
      border: 1px solid tgb(13, 19, 33);
      opacity: 0.7;

 }

 /* frame style */

 .frame{
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.2);
   border-radius: 16px;
   align-items: center;
   text-align: center;
   
   
 }

 .frame1{
   color: rgb(13, 19, 33);
   font-size: 800;
   line-height: 35px;
   text-align: center;
   margin-bottom: 24px;
 
} 
 
.frame2{
   color: rgb(13, 19, 33);
   text-align: center;
   opacity: 0.7;
   margin: 24px 0px;
   
}

